extends layout

block content
     .container
      .page-headline
        h1.page-logo
          .logo
          |           Ibrahim Almomani
          small Full Stack Software Engineer 
        blockquote
          p
            | I am a senior full stack software engineer with 8+ year of experience, Zend certified Engine’er PHP5, PHP 5.3 and Zend
            | Framework certified engineer 
            a(href='http://www.zend.com/en/yellow-pages/ZEND011246', target='_blank') [http://www.zend.com/en/yellow-pages/ZEND011246]
            | .
        blockquote
          p
            | Passionate about open source technologies , PHP addicted , JavaScript and  Nodejs-oholic and Python new rising star (fingers crossed), love exploring everything new about web and apps.
          small Ibrahim Almomani.
      // /demo-headline
      .row.page-row
        .col-xs-6
          a(href='https://twitter.com/ibrahimmomani', target='_blank')
            span.fui-twitter.fontxx
          a(href='https://jo.linkedin.com/in/ibrahimmomani', target='_blank')
            span.fui-linkedin.fontxx
          a(href='https://github.com/ibrahimmomani', target='_blank')
            span.fui-github.fontxx
        .col-xs-6
          a.btn.btn-block.btn-lg.btn-primary(href='cv/IbrahimAlmomani-26092015.pdf') My Resume
    // /.container
