doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ibrahim Almomani [PHP|NodeJs|Python]
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Loading minified app.css
    link(href='/css/app.min.css', rel='stylesheet')

  body
   block content
   
    script(src='/js/app.min.js')